<nav class="navbar navbar-expand-lg navbar-light bg-light animated slideInDown ">
  <img src="/assets/img/logo.png" width="50" height="50">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" >Bienvenido "nombre de maestro"</a>
      
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-success" style="margin-right: 15px;" data-toggle="modal" data-target="#alumno"><i class="fas fa-user-plus"></i> Agregar Alumno</button>
      <button class="btn btn-danger" [routerLink]="['']"  ><i class="fas fa-sign-out-alt"></i> Cerrar sesion</button>
    </div>
  </div>
</nav>


<ul class="nav nav-pills nav-fill">
  <li id="grupos" class="nav-item ">
    <a style="color: white;"  class="nav-link grupos" (click)="grupos()" ><i class="fas fa-users"></i> Grupos</a>
  </li>
  
  <li id="reporte" class="nav-item">
    <a style="color: white;" class="nav-link reporte " (click)="reportes()" ><i class="far fa-envelope"></i> Reporte de calificaciones</a>
  </li>
</ul>


<div *ngIf="mostrarGrupos" class="card text-center"  >
  <app-grupos-maestros ></app-grupos-maestros>
</div>

<div *ngIf="mostrarReporte" class="card">
  <app-reporte-maestros></app-reporte-maestros>
</div>



  
  <!-- Modal Agregar Alumno -->
  <div class="modal fade" id="alumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Alumno <i class="fas fa-user-tag"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #alumnoForm ="ngForm" (ngSubmit)="onSubmit(alumnoForm)" >
                <div class="form-row">
                    <div class="form-group col-md-9 mb-3">
                        <label for="validationDefault03">Nombre completo</label>
                        <input type="text" class="form-control"  placeholder="Nombre completo" name="nombreAlumno" #nombreAlumno="ngModel"[(ngModel)]="serviciofire.selectAlumno.nombreAlumno">
                      </div>
                  <div class="form-group col-md-6 mb-3">
                    <label for="validationDefaultUsername">Correo</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend2"><i class="far fa-envelope"></i></span> 
                      </div>
                      <input type="email" class="form-control"  placeholder="Correo" name="correoAlumno" #correoAlumno="ngModel"[(ngModel)]="serviciofire.selectAlumno.correoAlumno">
                    </div>
                  </div>
                  <div class="form-group col-md-6 mb-3">
                      <label for="validationDefault03">Contraseña</label>
                      <input type="text" class="form-control"  placeholder="Nombre completo" name="pass" #pass="ngModel"[(ngModel)]="serviciofire.selectAlumno.pass" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputState">Grupo</label>
                        <input type="text" class="form-control"  placeholder="Nombre completo" name="grupo" #grupo="ngModel"[(ngModel)]="serviciofire.selectAlumno.grupo" >
                      </div>
                  <div class="form-group col-md-10 mb-5">
                    <label for="validationDefault04">Carrera</label>
                    <select id="inputState" class="form-control">
                        <option>soporte tecnico</option>
                        <option>mecatronica</option>
                        <option>enfermeria</option>
                      </select>
                  </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-primary">reset</button>
                  </div>
              </form>
        </div>
        
      </div>
    </div>
  </div>





