.grupos{
    background:  #468B2E;
    
}


.reporte{
    background-color: #F57F2A;
}



#grupos a:hover {
    background-color:  #356823;
    cursor:default;
}

#reporte a:hover {
    background-color: #AB5F14; 
    cursor:default;
}