
.imgAlumno{
    width: 30px;
    padding-bottom: 13px;
    position: relative;
    right: 40px;

}

.imgGupoAlumnos{
    position: relative;
    bottom: 263px;
    left: 37px;
    height: 100px;
    width: 100px;
}