<div class="card-header animated fadeInDown">
  Grupos asignados
</div>
<div class="card-body animated fadeInDown">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Grupo A</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Grupo B</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Grupo C</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="list-group">
        <button *ngFor="let alumnos of  productList " type="button" class="list-group-item list-group-item-action ">
           <li class="alumnoimg" >
             <img class="imgAlumno" src="assets/img/alumnnoimg.jpg"> 
             <button class="btn btn-warning editar" data-toggle="modal" data-target="#editarAlumno" (click)="onEdit(alumnos)" >
               <i class="far fa-address-book"></i>
              </button> </li>  
              <button class="btn btn-ligh" data-toggle="modal" data-target="#exampleModalCenter">{{alumnos.matutino.nombre}}</button>
                <button class="btn btn-danger delete" (click)="onDelete(alumnos.$key)"> <i class="fas fa-user-minus"></i></button>
               </button>
        </div>

    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="list-group">
            <button *ngFor="let alumnos of  items "  data-toggle="modal" data-target="#exampleModalCenter" type="button" class="list-group-item list-group-item-action "></button>
            </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="list-group">
            </div>
    </div>
  </div>
</div>




<!-- Modal de alumnos-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">"nombre del Alumno"</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card mb-3 animated zoomIn cartaEstudiante " style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="assets/img/julio.jpeg" class="card-img" >
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    
                    <p>Semestre: 
                      <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                      </select>
                    </p>
                    <p>calificacion: <input type="number"> </p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>



 <!-- Modal Editar Alumno -->
 <div class="modal fade" id="editarAlumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Editar Alumno <i class="fas fa-user-tag"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #alumnoForm ="ngForm" (ngSubmit)="onUpdate()" >
              <div class="form-row">
                  <div class="form-group col-md-9 mb-3">
                      <label for="validationDefault03">Nombre completo</label>
                      <input type="text" class="form-control"  placeholder="Nombre completo" name="nombreAlumno" #nombreAlumno="ngModel"[(ngModel)]="serviciofire.selectAlumno.nombreAlumno">
                    </div>
                <div class="form-group col-md-7 mb-3">
                  <label for="validationDefaultUsername">Correo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2"><i class="far fa-envelope"></i></span> 
                    </div>
                    <input type="email" class="form-control"  placeholder="Correo" name="correoAlumno" #correoAlumno="ngModel"[(ngModel)]="serviciofire.selectAlumno.correoAlumno">
                  </div>
                </div>
                <div class="form-group col-md-5 mb-3">
                    <label for="validationDefault03">Contraseña</label>
                    <input type="text" class="form-control"  placeholder="Nombre completo" name="pass" #pass="ngModel"[(ngModel)]="serviciofire.selectAlumno.pass" >
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-2">
                      <label for="inputState">Grupo</label>
                      <select name="grupo" #grupo="ngModel"[(ngModel)]="serviciofire.selectAlumno.grupo" class="form-control">
                          <option>A</option>
                          <option>B</option>
                          <option>C</option>
                        </select>
                    </div>
                <div class="form-group col-md-10 mb-5">
                  <label for="validationDefault04">Carrera</label>
                  <select name="carrera" #carrera="ngModel"[(ngModel)]="serviciofire.selectAlumno.carrera" class="form-control">
                      <option>soporte tecnico</option>
                      <option>mecatronica</option>
                      <option>enfermeria</option>
                    </select>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" (click)="onUpdate" class="btn btn-primary">Guardar</button>
                  <button type="reset" class="btn btn-primary">reset</button>
                </div>
            </form>
      </div>
      
    </div>
  </div>
</div>