

.cartaEstudiante{
    box-shadow: 21px 14px 29px -14px rgba(0,0,0,0.49);
}
.datosEst{
    box-shadow: 5px 24px 29px -14px rgba(0,0,0,0.49);

}
.cardForm{
    box-shadow: 5px 23px 29px -14px rgba(0,0,0,0.49);
}


