<nav class="navbar navbar-expand-lg navbar-light bg-light animated slideInDown ">
  <img src="/assets/img/logo.png" width="50" height="50">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="redirect()" >ixaya cecytej</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="redirect2()" >moodle</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" data-toggle="modal" data-target="#exampleModalCenter" >Iniciar sesion</a>
    </div>
  </div>
</nav>


<app-plataforma></app-plataforma>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="
    width: 630px;" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>