<h2 class="animated bounceIn" style="text-align: center; ">Plataforma</h2>
<div class="container contenedor  ">
<form >
  <div class="imgcontainer">
    <img src="/assets/img/logo.png" alt="Avatar" class="avatar animated bounceIn ">
  </div>

  <div class="container animated bounceInUp ">
    <label for="uname"><b>Correo</b></label>
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2"><i class="far fa-envelope"></i></span> 
        </div>
        <input type="email" class="form-control" id="validationDefaultUsername" placeholder="Correo" aria-describedby="inputGroupPrepend2" required>
      </div>

    <label for="psw"><b></b></label>
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2"><i class="fas fa-key"></i></span> 
        </div>
        <input type="email" class="form-control" id="validationDefaultUsername" placeholder="Contraseña" aria-describedby="inputGroupPrepend2" required>
      </div>
        
    <button data-dismiss="modal" type="submit" [routerLink]="['maestros']">Iniciar sesion</button>
    <label>
      
    </label>
  </div>

  
</form>
  </div>




